.members-listing {
  padding: 0;
  h3 {
    margin: 2em 0;
    @include media-breakpoint-down-sm {
      margin: 2em 0 0;
    }
  }
  img {
    width: 100%;
    padding: 1em;
    max-width: 300px;
  }


}