{{ define "main" }} 

<section class="feature-hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="feature-hero-content">
            <h1 class="">{{.Title}}</h1>
            <p>{{.Description | markdownify}}</p>
            <div class="d-block mb-6">
              {{ with .Params.btn }}
              <a href="{{.link}}" class="btn btn-primary btn-sm"> {{.text}} </a>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-hero-banner">
            <img src="{{.Params.image_path}}" alt="banner-image" />
            <div class="shape">
              <img
                src="/images/feature/effect-2.png"
                alt="shape"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="page-details">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <article class="blog-single">
                {{.Content}}
             </article>
          </div>
       </div>
    </div>
 </section>

{{ end }}
