{{ define "main" }}

<section class="blog-details">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <article class="blog-single">
               <div class="inner-blog-details">
                  <h1>{{.Params.title}}</h1>
                  <div class="inner-blog-details-meta">
                     <ul class="list-unstyled">
                        <li class="list-inline-item">
                           <p>{{.Date | time.Format ":date_long"}}</p>
                        </li>
                        {{with .Params.author}}
                        <li class="list-inline-item">
                           <p>{{.}}</p>
                        </li>
                        {{end}}
                        <li class="list-inline-item">
                           <p>{{ .ReadingTime }} <span>minutes</span></p>
                        </li>
                        <li class="list-inline-item">
                           <p>{{ .WordCount }} <span>words</span></p>
                        </li>
                     </ul>
                  </div>
               </div>

               {{- with $.Params.images }}
               <div class="rounded-box mb-xxl-11 mb-8">
                  <img
                     src="{{ index . 0 | absURL }}"
                     class="w-100"
                     alt="featured-image"
                  />
               </div>
               {{ end -}}
               <div>{{.Content}}</div>
            </article>
         </div>
      </div>
   </div>
</section>

<section class="blog-related position-relative">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="blog-section">
               <h2 class="blog-section-title">Recent News</h2>
            </div>
         </div>
      </div>
      <div class="row">
         {{ range ( where site.RegularPages "Section" "news" | first 3 ) }}
         <div class="col-lg-4 col-md-6">
            <article class="blog-post">
               <div class="blog-post-thumb">
                  <a href="{{ .RelPermalink }}">
                     {{- with .Params.images }}
                     <img src="{{ index . 0 | absURL }}" alt="blog-thumb" loading="lazy" />
                     {{ end -}}
                  </a>
               </div>
               <div class="blog-post-content">
                  <div class="blog-post-tag">
                     {{ range .Params.categories }} {{ $href := print (absURL "categories/") (urlize
                     .) }}
                     <a href="{{ $href }}">{{ . | humanize }}</a>
                     {{ end }}
                  </div>
                  <div class="blog-post-date">
                     {{.Date | time.Format ":date_long"}}
                  </div>
                  <div class="blog-post-title">
                     <a href="{{.Permalink | relURL}}">{{.Params.title}}</a>
                  </div>
               </div>
            </article>
         </div>
         {{ end }}
      </div>
   </div>
</section>

{{ end }}
