{{ with .Site.Data.footer }}
<footer class="footer pt-xxl-19 pt-8 pb-sm-7 pb-5" id="footer">
  <div class="container-fluid">
    <div class="footer-wrapper">
      <div class="row">
        <div class="col-12 col-lg-4 me-auto order-2 order-lg-1">
          <div class="footer-logo mt-7 mt-md-0 mb-5">
            <a href="{{.logo_url}}" class="">
              <img src="{{.logo}}" alt="logo" />
            </a>
          </div>
          <div class="social-icon">
            <ul class="list-unstyled">
              {{ range .social }}
              <li>
                <a href="{{.link}}"> <i class="{{.icon}}"></i> </a>
              </li>
              {{ end }}
            </ul>
          </div>
          <div class="footer-logo mt-7 mt-md-0">
            <p>
              © Copyright <span>{{ dateFormat "2006" now }}</span> {{.copyright}} 
              The Linux Foundation® . All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage">Trademark Usage</a> page. Linux is a registered trademark of Linus Torvalds. <a href="http://www.linuxfoundation.org/privacy">Privacy Policy</a> and <a href="http://www.linuxfoundation.org/terms">Terms of Use</a>.
            </p>
          </div>
        </div>
        {{ range .sections }}
        <div class="col-6 col-md-4 col-sm-4 col-lg-2 order-1">
          <div class="footer-widget">
            <h3 class="">{{.title}}</h3>
            <ul class="list-unstyled">
              {{ range .links }}
              <li>
                <a href="{{.link}}">{{.text}}</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
{{ end }}
