{{ $permalink := .RelPermalink }}
{{ $permalink := path.Join $permalink "/"}}
{{ $current := . }}
<header>
   <div class="lfprojects position-fixed">
      <a href="https://www.linuxfoundation.org/projects" target="_blank" rel="noopener noreferrer"><img src={{ relURL "images/lf-projects-banner-white.svg"}}></a>
   </div>

   <nav class="navbar navbar-expand-lg position-fixed w-100 zindex-dropdown" id="mainnavigationBar">
      <a class="navbar-brand" href={{ relURL ""}}>
         <img src={{ relURL "images/chips_alliance.svg" }} alt="Nav-Logo" />
      </a>
      <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent"
         aria-expanded="false"
         aria-label="Toggle navigation"
      >
         <span class="navbar-toggler-default">
            <svg
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
            >
               <line
                  x1="3.5"
                  y1="5.5"
                  x2="21.5"
                  y2="5.5"
                  stroke="#292D32"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
               />
               <line
                  x1="4.5"
                  y1="12.5"
                  x2="21.5"
                  y2="12.5"
                  stroke="#292D32"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
               />
               <line
                  x1="11.5"
                  y1="19.5"
                  x2="21.5"
                  y2="19.5"
                  stroke="#292D32"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
               />
            </svg>
         </span>
         <span class="navbar-toggler-toggled">
            <svg
               width="20"
               height="20"
               viewBox="0 0 28 28"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
            >
               <path
                  d="M21.5 6.5L6.5 21.5"
                  stroke="#404152"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
               />
               <path
                  d="M21.5 21.5L6.5 6.5"
                  stroke="#404152"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
               />
            </svg>
         </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mx-auto mb-20 mb-lg-0 navbar-nav-scroll">
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle {{ if strings.Contains $current.RelPermalink "about" }}active{{ end }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href={{ relURL "#"}}>
                  About
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item {{ if strings.Contains $current.RelPermalink "/about/who-we-are/" }}active{{ end }}" href={{ relURL "about/who-we-are/"}} >Who We Are</a>
                  <a class="dropdown-item {{ if strings.Contains $current.RelPermalink "/getting-started/" }}active{{ end }}" href={{ relURL "getting-started/"}}>Getting Started</a>
                  <a class="dropdown-item {{ if strings.Contains $current.RelPermalink "/about/members/" }}active{{ end }}" href={{ relURL "about/members/"}}>Members</a>
                  <a class="dropdown-item {{ if strings.Contains $current.RelPermalink "/about/governance/" }}active{{ end }}" href={{ relURL "about/governance/"}}>Governance</a>
                  <a class="dropdown-item {{ if strings.Contains $current.RelPermalink "/about/faq/" }}active{{ end }}" href={{ relURL "about/faq/"}}>FAQ</a>
                  <a class="dropdown-item {{ if strings.Contains $current.RelPermalink "/about/contact/" }}active{{ end }}" href={{ relURL "about/contact/"}}>Contact</a>
               </div>
            </li>
            <li class="nav-item">
               <a class="nav-link {{ if eq $current.RelPermalink "/projects/" }}active{{ end }}" href={{ relURL "projects/"}}>
                  Projects
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link {{ if eq $current.RelPermalink "/events/" }}active{{ end }}" href={{ relURL "events/"}}>
                  Events
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link {{ if eq $current.RelPermalink "/workgroups/" }}active{{ end }}" href={{ relURL "workgroups/"}}>
                  Workgroups
               </a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle {{ if strings.Contains $current.RelPermalink "/categories/" }}active{{ end }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                  News
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item {{ if strings.Contains $current.RelPermalink "/categories/announcements/" }}active{{ end }}" href={{ relURL "categories/announcements/"}}>Announcements</a>
                  <a class="dropdown-item {{ if strings.Contains $current.RelPermalink "/categories/blog/" }}active{{ end }}" href={{ relURL "categories/blog/"}}>Blog</a>
                  <a class="dropdown-item {{ if strings.Contains $current.RelPermalink "/categories/reports/" }}active{{ end }}" href={{ relURL "categories/reports/"}}>Reports</a>
               </div>
            </li>
            <li class="nav-item">
               <a class="nav-link {{ if eq $current.RelPermalink "/join/" }}active{{ end }}" href={{relURL "join/"}}>
                  Join
               </a>
            </li>

         </ul>
      </div>
      <div class="d-none d-lg-block">
         <div class="nav-item">
            <a href={{ relURL "getting-started/"}} class="btn btn-sm btn-primary">Get Started</a>
         </div>
      </div>
   </nav>
</header>
