<section class="newsletter feature pt-sm-5 pt-5 pb-4" id="newsletter">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="feature-item-content ps-xxl-8 ps-0">
          <h2 class="pe-xl-0">Subscribe to our Newsletter</h2>
          <p>
            Get open source hardware news, project milestones and event
            announcements from CHIPS Alliance delivered to your inbox.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="newsletter-form">
          <div id="hubspot-newsletter-form"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function chipsNewsletterForm() {
    hbspt.forms.create({
      portalId: "8112310",
      formId: "f8aeb521-48c0-4137-9b37-538f61e7c50b",
      region: "na1",
      target: "#hubspot-newsletter-form",
      css: "",
    });
  }
</script>
<script
  charset="utf-8"
  type="text/javascript"
  src="https://js.hsforms.net/forms/embed/v2.js"
  defer
  onload="chipsNewsletterForm()"
></script>
