
<div class="projects-box mb-5">

<div class="projects-box-col1">
  <a href="{{.website_link}}" target="_blank">
  {{ $image_url := printf "images/projects/%s.svg" (urlize .name) }}
  {{ $imagefile := printf "themes/tsc/projects/logos/%s.svg" (urlize .name) }}
  {{ if fileExists $imagefile }}  
    <img src="{{relURL $image_url }}" loading="lazy" alt="{{ .name }}">
  {{ else }}
    <img src="{{relURL "images/muted-logo.svg" }}" loading="lazy" alt="Placeholder project logo">
  {{ end }}
  </a>
</div>

<div class="projects-box-col2">
  <h3 class="mt-0">{{.name}}</h3>
  <p> {{.brief_summary}} </p>

  <ul class="list-unstyled">
    <li>Repositories:</li>
    <ul class="list-unstyled mb-0 ms-5">
      <!-- since .repositories can be a single string we need to convert it to slice to iverate over it-->
      {{ $repos := slice }}
      {{ $repos = $repos | append .repositories }}
      {{ range $repo := $repos }}
        {{ $repo_url := split $repo "/" }}
        {{ $repo_name := last 1 $repo_url }}
        <li><i class="ph-git-branch"></i> <a href="{{$repo}}" target="_blank">{{ delimit $repo_name "" }}</a></li>
      {{ end }}
    </ul>
    <li><i class="ph-clipboard-text"></i> <a href="{{.issue_tracker_link}}" target="_blank">Issue Tracker</a></li>
    <li><i class="ph-link"></i> <a href="{{.website_link}}" target="_blank">Website</a></li>
    {{ with .primary_contact }}
    <li><i class="ph-user-square"></i> <a href="mailto:{{.email}}" target="_blank">Contact: {{ .name }}</a> (<a href="https://github.com/{{.github_handle}}" target="_blank">GitHub</a>)</li>
    {{ end }}
  </ul>
</div>
</div>
