{{ if (eq .Params.level "platinum") }}
<div class="members-listing container text-center mb-5 mt-5">
  <h3>Platinum Members</h3>

  {{ with .Site.Data.members }}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {{ range sort ( where .members "level" "platinum" ) "name" }}
    <div class="col my-auto">
      {{ $image := printf "%s%s" "images/members/" .image }}
      <a href="{{ .url }}" target="_blank"><img alt="{{ .name }} logo" src="{{ relURL $image }}"></a>
    </div>
    {{ end }}
  </div>
  {{ end }}

</div>

{{ else if (eq .Params.level "gold") }}

<div class="members-listing container text-center mb-5 mt-5">
  <h3>Gold Members</h3>

  {{ with .Site.Data.members }}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
    {{ range sort ( where .members "level" "gold" ) "name" }}
    <div class="col my-auto">
      {{ $image := printf "%s%s" "images/members/" .image }}
      <a href="{{ .url }}" target="_blank"><img alt="{{ .name }} logo" src="{{ relURL $image }}"></a>
    </div>
    {{ end }}
  </div>
  {{ end }}

</div>

{{ else if (eq .Params.level "silver") }}

<div class="members-listing container text-center mb-5 mt-5">
  <h3>Silver Members</h3>

  {{ with .Site.Data.members }}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
    {{ range sort ( where .members "level" "silver" ) "name" }}
    <div class="col my-auto">
      {{ $image := printf "%s%s" "images/members/" .image }}
      <a href="{{ .url }}" target="_blank"><img alt="{{ .name }} logo" src="{{ relURL $image }}"></a>
    </div>
    {{ end }}
  </div>
  {{ end }}

</div>

{{ else if (eq .Params.level "auditor") }}

<div class="members-listing container text-center mb-5 mt-5">
  <h3>Auditor Members</h3>

  {{ with .Site.Data.members }}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
    {{ range sort ( where .members "level" "auditor" ) "name" }}
    <div class="col my-auto">
      {{ $image := printf "%s%s" "images/members/" .image }}
      <a href="{{ .url }}" target="_blank"><img alt="{{ .name }} logo" src="{{ relURL $image }}"></a>
    </div>
    {{ end }}
  </div>
  {{ end }}

</div>

{{ else if (eq .Params.level "associate") }}

<div class="members-listing container text-center mb-5 mt-5">
  <h3>Associate Members</h3>

  {{ with .Site.Data.members }}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
    {{ range sort ( where .members "level" "associate" ) "name" }}
    <div class="col my-auto">
      {{ $image := printf "%s%s" "images/members/" .image }}
      <a href="{{ .url }}" target="_blank"><img alt="{{ .name }} logo" src="{{ relURL $image }}"></a>
    </div>
    {{ end }}
  </div>
  {{ end }}

</div>

{{ end }}