{{ if (eq .Params.level "platinum") }}
<div class="members-listing container text-center mb-5 mt-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div class="col">
      <a href="https://www.amd.com/en" target="_blank"><img alt="AMD logo" src="{{ relURL "images/members/amd.svg"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.alibabagroup.com/" target="_blank"><img alt="Alibaba logo" src="{{ relURL "images/members/alibaba.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://antmicro.com/" target="_blank"><img alt="Antmicro logo" src="{{ relURL "images/members/antmicro.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://google.com/" target="_blank"><img alt="Google logo" src="{{ relURL "images/members/google.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.infineon.com/" target="_blank"><img alt="Infineon logo" src="{{ relURL "images/members/infineon.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://intel.com/" target="_blank"><img alt="Intel logo" src="{{ relURL "images/members/intel.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.microsoft.com/en-us/?ql=4" target="_blank"><img alt="Microsoft logo" src="{{ relURL "images/members/microsoft.svg"}}"></a>
    </div>
    <div class="col">
      <a href="https://rapidsilicon.com/" target="_blank"><img alt="Rapid Silicon logo" src="{{ relURL "images/members/rapidsilicon.svg"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.sifive.com/" target="_blank"><img alt="SiFive logo" src="{{ relURL "images/members/sifive.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://verisilicon.com/" target="_blank"><img alt="VeriSilicon logo" src="{{ relURL "images/members/verisilicon.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.westerndigital.com/" target="_blank"><img alt="Western Digital logo" src="{{ relURL "images/members/western-digital.png"}}"></a>
    </div>

  </div>
</div>

{{ else if (eq .Params.level "gold") }}

<div class="members-listing container text-center mb-5 mt-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
    <div class="col">
      <a href="#" target="_blank"><img alt="Futurewei logo" src="{{ relURL "images/members/futurewei-tech.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.iscas.ac.cn/" target="_blank"><img alt="ISCAS logo" src="{{ relURL "images/members/iscas.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://xilinx.com/" target="_blank"><img alt="Xilinx logo" src="{{ relURL "images/members/xilinx-inc.svg"}}"></a>
    </div>
  </div>
</div>

{{ else if (eq .Params.level "silver") }}

<div class="members-listing container text-center mb-5 mt-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
    <div class="col">
      <a href="https://codasip.com/" target="_blank"><img alt="Codasip logo" src="{{ relURL "images/members/codasip.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://efabless.com/" target="_blank"><img alt="Efabless logo" src="{{ relURL "images/members/efabless.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.esperanto.ai/" target="_blank"><img alt="Esperanto logo" src="{{ relURL "images/members/esperanto-tech.png"}}"></a>
    </div>
    <div class="col">
      <a href="http://imperas.com/" target="_blank"><img alt="Imperas logo" src="{{ relURL "images/members/imperas.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://metrics.ca/" target="_blank"><img alt="Metrics logo" src="{{ relURL "images/members/metrics.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.nvidia.com/en-us/" target="_blank"><img alt="Nvidia logo" src="{{ relURL "images/members/nvidia.jpg"}}"></a>
    </div>
    <div class="col">
      <a href="https://proteantecs.com/" target="_blank"><img alt="ProteanTecs logo" src="{{ relURL "images/members/proteantecs.svg"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.qamcom.se/" target="_blank"><img alt="Qamcom logo" src="{{ relURL "images/members/qamcom.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.quicklogic.com/" target="_blank"><img alt="Quicklogic logo" src="{{ relURL "images/members/quicklogic.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://eda.sw.siemens.com/en-US/" target="_blank"><img alt="Siemens logo" src="{{ relURL "images/members/siemens.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://skywatertechnology.com/" target="_blank"><img alt="Skywater logo" src="{{ relURL "images/members/skywater-technology.svg"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.zeroasic.com/" target="_blank"><img alt="Zeroasic logo" src="{{ relURL "images/members/zero-asic.svg"}}"></a>
    </div>
  </div>
</div>

{{ else if (eq .Params.level "auditor") }}

<div class="members-listing container text-center mb-5 mt-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
    <div class="col">
      <a href="https://precisioninno.com/" target="_blank"><img alt="Precision Innovations logo" src="{{ relURL "images/members/precision-innovations.png"}}"></a>
    </div>
  </div>
</div>

{{ else if (eq .Params.level "associate") }}

<div class="members-listing container text-center mb-5 mt-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
    <div class="col">
      <a href="https://asu.edu/" target="_blank"><img alt="ASU logo" src="{{ relURL "images/members/arizona-state-u.svg"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.berkeley.edu/admissions/" target="_blank"><img alt="Berkeley logo" src="{{ relURL "images/members/ucberkeley.svg"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.byu.edu/" target="_blank"><img alt="BYU logo" src="{{ relURL "images/members/byu.svg"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.iitm.ac.in/" target="_blank"><img alt="IIT logo" src="{{ relURL "images/members/iit.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.hm.edu/" target="_blank"><img alt="Hochschule logo" src="{{ relURL "images/members/hochschule.png"}}"></a>
    </div>
    <div class="col">
      <a href="#" target="_blank"><img alt="OpenRoad logo" src="{{ relURL "images/members/openroad.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://rioslab.org/" target="_blank"><img alt="Rios logo" src="{{ relURL "images/members/rios.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://riscv.org/" target="_blank"><img alt="RISC-V logo" src="{{ relURL "images/members/risc-v.svg"}}"></a>
    </div>
    <div class="col">
      <a href="https://engineering.stanford.edu/" target="_blank"><img alt="Stanford Engineering logo" src="{{ relURL "images/members/stanford-eng.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.ucsc.edu/" target="_blank"><img alt="UC Santa Cruz logo" src="{{ relURL "images/members/uc-santa-cruz.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://ucsd.edu/" target="_blank"><img alt="UC San Diego logo" src="{{ relURL "images/members/uc-san-diego.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.uit.edu/" target="_blank"><img alt="UIT logo" src="{{ relURL "images/members/uit-merl.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://nebrija.es/" target="_blank"><img alt="Nebrija logo" src="{{ relURL "images/members/universidad-nebrija.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://kg.ac.rs/" target="_blank"><img alt="University de Kragujevac logo" src="{{ relURL "images/members/university-kragujevac.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://www.manchester.ac.uk/" target="_blank"><img alt="University of Manchester logo" src="{{ relURL "images/members/university-of-manchester.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://micl.engin.umich.edu/" target="_blank"><img alt="University of Michigan logo" src="{{ relURL "images/members/university-of-michigan.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://umn.edu/" target="_blank"><img alt="University of Minnesota logo" src="{{ relURL "images/members/university-of-minnesota.png"}}"></a>
    </div>
    <div class="col">
      <a href="https://yale.edu/" target="_blank"><img alt="Yale University logo" src="{{ relURL "images/members/yale-university.png"}}"></a>
    </div>
  </div>
</div>
{{ end }}