name: Add preview link

on:
  pull_request:

jobs:
  comment:
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: write
      repository-projects: write
    steps:
      - name: Get PR metadata
        uses: 8BitJonny/gh-get-current-pr@2.2.0
        if: github.event_name == 'pull_request'
        with:
          sha: ${{ github.event.pull_request.head.sha }}
        id: PR

      - name: Add comment with preview Link
        uses: mshick/add-pr-comment@v2
        if: github.event_name == 'pull_request'
        with:
          message: |
            Deploying preview to https://chipsalliance.org/preview/${{ steps.PR.outputs.number }}/
